/*!  Custom Styles  */

/*   -------------------------   Theme covers   ---------------------------   */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, 'Roboto', sans-serif;
}

.h4 {
  font-weight: 600;
}

.copyright {
  font-family: 'Lato', Calibri, Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
}

.footer-wrapper {
  background: #1a1e23;
  padding: 16px 0;
  color: #ccc;
}

.footer-wrapper small {
  color: #1a1e23;
}

.noty-container {
  /* font-size: 14px; */
}

/* ---------------------------------------------- /*
 *               Resume Section
/* ---------------------------------------------- */

/* === Resume Timeline === */

.timeline-content {
  padding: 0;
}

.timeline-content .panel-body p {
  line-height: 24px;
}

.timeline-heading h3 {
  /*font-size: 22px;*/
  line-height: 26px;
}

.timeline-heading span {
  display: block;
  font-weight: 700;
  margin-bottom: 5px;
}

/* === Skill Section === */

.skill-icon {
  width: 15%;
}

.skill-title {
  width: 55%;
}

  .skill-title span
, .skill-title i {
  float: left;
  margin-top: -6px;
  line-height: 24px;
}
.skill-title i {
  margin-right: 4px;
}

.skill-title span {
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  margin-top: -4px;
}


/* === progress-bar === */
.skill-progress .progress {
  float-left;
  background-color: #3a4149;
  background-image: none;
}

.progress {
}

.progress-bar {
  background-color: #68c3a3;
}

.progress-bar.six-sec-ease-in-out {
  background-image: linear-gradient(to bottom,#3b8269 0,#68c3a3 100%);
}

.progress .progress-bar.six-sec-ease-in-out {
  -webkit-transition: width 4s ease-in-out;
     -moz-transition: width 4s ease-in-out;
       -o-transition: width 4s ease-in-out;
          transition: width 4s ease-in-out;
}


/* === Chart CSS === */
.percent {
  font-size: 28px;
  font-weight: 500;
}

.chart-text span {
  font-size: 18px;
}


/*   -------------------------   Cusomizations ----------------------------   */
.navbar-brand {
  transform: translate3d(0px, 0px, 0px);
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}

@media(min-width:992px) {
  .grow { transition: all .02s ease-in-out; }
  .grow:hover { transform: scale(1.2); }
}

ul.list-check li i {
  color: #68c3a3;
  margin-right: 5px;
}

.scroll-up a {
  opacity: 0.4;
  font-size: 26px;
}
