/*!  - - - - - - - - - - - - - -   Defaults   - - - - - - - - - - - - - - - - */
/* ---------------------------------------------- /*
 *               General Style
/* ---------------------------------------------- */

/*  FOUC workaround */
html {
  display:    block;
  height:     100%;
  opacity:    1;
  visibility: visible;
  font-display: swap;
}

body {
  font-display: swap;
}

.clearfix {
  *zoom: 1;
}
