; cli
user-agent = "npm/{npm-version} node/{node-version} {platform} {arch}"
long = true

; default values
color = always
spin = always
fetch-retries = 1
fetch-retry-maxtimeout = 6000
fetch-retry-mintimeout = 1000
init-author-email = "tbaltrushaitis@gmail.com"
init-author-name = "Baltrushaitis Tomas"
init-author-url = "https://github.com/tbaltrushaitis"
init-license = "MIT"
init-version = "1.0.0"
